@model BioVM

<div>
    <a href="/pcs/details/@Model.PcId"> Back to Character </a>
</div>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="@Model.Id" class="form-control" id="bioid", name="bioid" />
    <input type="hidden" asp-for="@Model.PcId" class="form-control" />
    <div class="container text-center border" style="margin-top:10px;margin-bottom:10px;">
        <div class="row" style="margin-top:10px;margin-bottom:10px;">
            <div class="col">
                <label asp-for="@Model.Age" class="control-label"></label>
            </div>
            <div class="col">
                <label asp-for="@Model.Size" class="control-label"></label>
            </div>
            <div class="col">
                <label asp-for="@Model.Weight" class="control-label"></label>
            </div>
            <div class="col">
                <label asp-for="@Model.Height" class="control-label"></label>
            </div>
        </div>
        <div class="row" style="margin-top:10px;margin-bottom:10px;">
            <div class="col">
                <input asp-for="@Model.Age" class="form-control" />
            </div>
            <div class="col">
                <input asp-for="@Model.Size" class="form-control" />
            </div>
            <div class="col">
                <input asp-for="@Model.Weight" class="form-control" />
            </div>
            <div class="col">
                <input asp-for="@Model.Height" class="form-control" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;margin-bottom:10px;">
            <div class="col">
                <label asp-for="@Model.Skin" class="control-label"></label>
            </div>
            <div class="col">
                <label asp-for="@Model.Eyes" class="control-label"></label>
            </div>
            <div class="col">
                <label asp-for="@Model.Hair" class="control-label"></label>
            </div>
            <div class="col">
                <label asp-for="@Model.Alignment" class="control-label"></label>
            </div>
        </div>
        <div class="row" style="margin-top:10px;margin-bottom:10px;">
            <div class="col">
                <input asp-for="@Model.Skin" class="form-control" />
            </div>
            <div class="col">
                <input asp-for="@Model.Eyes" class="form-control" />
            </div>
            <div class="col">
                <input asp-for="@Model.Hair" class="form-control" />
            </div>
            <div class="col">
                <input asp-for="@Model.Alignment" class="form-control" />
            </div>
        </div>
    </div>

    <h5>Personal traits</h5>
    <div class="container text-center border" style="margin-top:10px;margin-bottom:10px;">
        <div class="row" style="margin-top:10px;margin-bottom:10px;">
            <div class="col">
                <label asp-for="@Model.Traits" class="control-label"></label>
            </div>
            <div class="col">
                <label asp-for="@Model.Flaws" class="control-label"></label>
            </div>
        </div>
        <div class="row" style="margin-top:10px;margin-bottom:10px;">
            <div class="col">
                <textarea rows="5" asp-for="@Model.Traits" class="form-control"></textarea>
            </div>
            <div class="col">
                <textarea rows="5" asp-for="@Model.Flaws" class="form-control"></textarea>
            </div>
        </div>
        <div class="row" style="margin-top:10px;margin-bottom:10px;">
            <div class="col">
                <label asp-for="@Model.Bonds" class="control-label"></label>
            </div>
            <div class="col">
                <label asp-for="@Model.Ideals" class="control-label"></label>
            </div>
        </div>
        <div class="row" style="margin-top:10px;margin-bottom:10px;">
            <div class="col">
                <textarea rows="5" asp-for="@Model.Bonds" class="form-control"></textarea>
            </div>
            <div class="col">
                <textarea rows="5" asp-for="@Model.Ideals" class="form-control"></textarea>
            </div>
        </div>
    </div>

    <h5>Bonds</h5>
    <div class="container text-center border" style="margin-top:10px;margin-bottom:10px;">
        <div class="row" style="margin-top:10px;margin-bottom:10px;">
            <div class="col">
                <label asp-for="@Model.Allies" class="control-label"></label>
            </div>
            <div class="col">
                <label asp-for="@Model.Backstory" class="control-label"></label>
            </div>
        </div>
        <div class="row" style="margin-top:10px;margin-bottom:10px;">
            <div class="col">
                <textarea rows="5" asp-for="@Model.Allies" class="form-control"></textarea>
            </div>
            <div class="col">
                <textarea rows="5" asp-for="@Model.Backstory" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <input type="submit" id="submit" value="Save" />
</form>
