@model PcCreatableVM

@{
    ViewData["Title"] = "New Player";
}

<body>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-sm-1">
                <a class="btn btn-primary btn-md" role="button" asp-area="" asp-controller="Pcs" asp-action="Index">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <div class="col">
                <p> Please fill empty fields to create new playable character. </p>
            </div>
        </div>

        <div class="row justify-content-between align-items-center">
            <form asp-controller="Pcs" asp-action="Create" id="regForm" class="box-shadow" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row justify-content-between align-items-center mb-4">
                    <div class="col">
                        <button class="btn btn-primary" type="button" id="prevBtn" onclick="nextPrev(-1)"><i class="fas fa-caret-left"></i></button>
                    </div>
                    <div class="col">
                        <div style="text-align:center;margin-top:5px;">
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <button class="btn btn-primary" type="button" id="nextBtn" onclick="nextPrev(1)"><i class="fas fa-caret-right"></i></button>
                    </div>
                </div>


                <div class="tab">
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="Photo">Photo</label>
                                <input asp-for="Photo" type="file" class="form-control-file" id="image_file" accept=".png, .jpeg, .jpg">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="RaceName" class="control-label">Race</label>
                        <input asp-for="RaceName" class="form-control">
                        <span asp-validation-for="RaceName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        @Html.EditorFor(m => m.DndClasses[0], "_PartialEditableDndClass")
                    </div>
                    <div class="form-group">
                        <label asp-for="BackgroundName" class="control-label">Background</label>
                        <input asp-for="BackgroundName" class="form-control" />
                        <span asp-validation-for="BackgroundName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SpellInfo.AbilityId" class="control-label">Spell Ability</label>

                        <select asp-for="SpellInfo.AbilityId" class="form-control">
                            <option value=""> Non-magical character </option>
                            @foreach (var ab in Model.Abilities)
                            {
                                <option value="@ab.Id">@ab.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="tab">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label asp-for="AC" class="control-label"></label>
                                <input type="number" min="-7" max="1000" asp-for="AC" class="form-control" />
                                <span asp-validation-for="AC" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Speed" class="control-label"></label>
                                <input asp-for="Speed" class="form-control" />
                                <span asp-validation-for="Speed" class="text-danger"></span>

                            </div>
                            <div class="col">
                                <label asp-for="HitDice" class="control-label"></label>
                                <input asp-for="HitDice" class="form-control" />
                                <span asp-validation-for="Speed" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="HP" class="control-label"></label>
                                <input type="number" min="1" max="1000" asp-for="HP" class="form-control" />
                                <span asp-validation-for="HP" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                @for (int i = 0; i < 3; ++i)
                                {
                                    @Html.EditorFor(m => m.Abilities[i], "_PartialEditableAbility")
                                }
                            </div>
                            <div class="col">
                                @for (int i = 3; i < 6; ++i)
                                {
                                    @Html.EditorFor(m => m.Abilities[i], "_PartialEditableAbility")
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label asp-for="Bio.Age" class="control-label"></label>
                                <input type="number" asp-for="Bio.Age" class="form-control" />
                                <span asp-validation-for="Bio.Age" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Bio.Size" class="control-label"></label>
                                <input asp-for="Bio.Size" class="form-control" />
                                <span asp-validation-for="Bio.Size" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Bio.Weight" class="control-label"></label>
                                <input asp-for="Bio.Weight" class="form-control" />
                                <span asp-validation-for="Bio.Weight" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Bio.Height" class="control-label"></label>
                                <input asp-for="Bio.Height" class="form-control" />
                                <span asp-validation-for="Bio.Height" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label asp-for="Bio.Skin" class="control-label"></label>
                                <input asp-for="Bio.Skin" class="form-control" />
                                <span asp-validation-for="Bio.Skin" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Bio.Eyes" class="control-label"></label>
                                <input asp-for="Bio.Eyes" class="form-control" />
                                <span asp-validation-for="Bio.Eyes" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Bio.Hair" class="control-label"></label>
                                <input asp-for="Bio.Hair" class="form-control" />
                                <span asp-validation-for="Bio.Hair" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Bio.Alignment" class="control-label"></label>
                                <input asp-for="Bio.Alignment" class="form-control" />
                                <span asp-validation-for="Bio.Alignment" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label asp-for="Bio.Traits" class="control-label"></label>
                                <textarea asp-for="Bio.Traits" class="form-control"></textarea>
                                <span asp-validation-for="Bio.Traits" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Bio.Flaws" class="control-label"></label>
                                <textarea asp-for="Bio.Flaws" class="form-control"></textarea>
                                <span asp-validation-for="Bio.Flaws" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label asp-for="Bio.Bonds" class="control-label"></label>
                                <textarea asp-for="Bio.Bonds" class="form-control"></textarea>
                                <span asp-validation-for="Bio.Bonds" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Bio.Ideals" class="control-label"></label>
                                <textarea asp-for="Bio.Ideals" class="form-control"></textarea>
                                <span asp-validation-for="Bio.Ideals" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label asp-for="Bio.Allies" class="control-label"></label>
                                <textarea asp-for="Bio.Allies" class="form-control"></textarea>
                                <span asp-validation-for="Bio.Allies" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Bio.Backstory" class="control-label"></label>
                                <textarea asp-for="Bio.Backstory" class="form-control"></textarea>
                                <span asp-validation-for="Bio.Backstory" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <link rel="stylesheet" href="~/css/formstyle.css" />
    <script src="~/js/formWithTabs.js"></script>
</body>

