@model SpellVM

@{ 
    var bonusstr = Model.Id;
    var acc = "accordion" + bonusstr;
    var heading = "heading" + bonusstr;
    var collps = "collapseSpell" + bonusstr;
}

<div id="editorItem" class="row" style="width: inherit;">
    <div class="card mb-2 mt-2 box-shadow" style="width: inherit;" id="@{@acc}">
        <div class="card-header" id="@{@heading}">
            <input type="hidden" value="@Model.Id" name="SpellId" id="SpellId" />

            <div class="row d-flex align-content-center justify-content-between">
                <div class="col-8">
                    <input asp-for="@Model.Name" class="form-control" />
                </div>
                <div class="col-2">
                    <button type='button' class="btn btn-primary" data-toggle="collapse" data-target="#@{@collps}" aria-expanded="false" aria-controls="@{@collps}">
                        Details
                    </button>
                </div>
                <div class="col-2">
                    <form asp-controller="Spells" asp-action="DeleteSpell" asp-route-id="@Model.Id">
                        <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to delete spell: @Model.Name?')"> <i class="fas fa-times"></i> </button>
                    </form>
                    @*<a href="" data-value="/Spells/DeleteSpell/@Model.Id" class="deleteRow">Delete Row</a>*@
                </div>
            </div>
        </div>

        <div id="@{@collps}" class="collapse" aria-labelledby="@{@heading}" data-parent="#@{@acc}">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label>Casting Time</label>
                        <input asp-for="@Model.CastingTime" class="form-control" />
                    </div>
                    <div class="col">
                        <label>Range</label>
                        <input asp-for="@Model.CastingRange" class="form-control" />
                    </div>
                    <div class="col">
                        <label>Duration</label>
                        <input asp-for="@Model.Duration" class="form-control" />
                    </div>
                    <div class="col">
                        <label>Components</label>
                        <input asp-for="@Model.Components" class="form-control" />
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <label>Description</label>
                        <textarea rows="6" style="width:inherit;" asp-for="@Model.Description"> </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>