@model List<FeatVM>

<partial name="_SuccessNotification" />

<input type="hidden" value="@ViewData["PcId"]" name="PcId" id="PcId" />

<div class="container-fluid">
    <div class="row align-feats-center mb-3">
        <div class="col-4 d-flex justify-content-start">
            <a class="btn btn-primary btn-md" role="button" asp-area="" asp-controller="Pcs" asp-action="Details" asp-route-id="@ViewData["PcId"]">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>
        <div class="col-4  d-flex justify-content-center">
            <h5> Feats </h5>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <partial name="_FeatCreatableModal" model="new FeatVM()" view-data="@ViewData" />
            <button class="btn btn-primary" id="addFeat" data-toggle="modal" data-target="#featCreatableModal"><i class="fas fa-plus"></i></button>
        </div>
    </div>
</div>

<div class="container container-navbar box-shadow m-3 mb-4">
    <div class="row d-flex justify-content-between align-feats-center pb-3 pt-3">
        <div class="col-3">
            <label><b>Title</b></label>
        </div>
        <div class="col-2">
            <label><b>Source</b></label>
        </div>
        <div class="col-2">
            <label><b>SourceType</b></label>
        </div>
        <div class="col-3">
            <label><b>Definition</b></label>
        </div>
        <div class="col-2">

        </div>
    </div>
</div>


@foreach (var feat in Model)
{
    <div class="container box-shadow m-3">
        <div class="row d-flex justify-content-between align-feats-center pb-3 pt-3">

            <div class="col-3">
                <input asp-for="@feat.Title" readonly class="form-control-plaintext" />
            </div>
            <div class="col-2">
                <input asp-for="@feat.Source" readonly class="form-control-plaintext" />
            </div>
            <div class="col-2">
                <input asp-for="@feat.SourceType" readonly class="form-control-plaintext" />
            </div>

            <div class="col-3">
                <input asp-for="@feat.Definition" readonly class="form-control-plaintext" />
            </div>
            <div class="col-2 d-flex justify-content-end align-content-center">
                <partial name="_FeatEditableModal" model="@feat" />
                <button class="btn btn-primary m-0 mr-3" role="button" id="editFeat" onclick="showFeatEditableModal(`@feat.Id`)"><i class="fas fa-edit"></i></button>

                <form asp-controller="Feats" asp-action="Delete" asp-route-id="@feat.Id" asp-route-pcid="@feat.PcId">
                    <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to delete class: @feat.Title?')"> <i class="fas fa-times"></i> </button>
                </form>
            </div>
            <div>

            </div>
        </div>
    </div>

}


@section scripts{
    <script>
        function showFeatEditableModal(id) {
            $('#featEditableModal_'.concat(id)).modal('show');
        }
    </script>
}